@import "tailwindcss";

@config "../tailwind.config.js";

@font-face {
  font-family: 'Mosseta';
  src: url('./assets/fonts/Mosseta-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full hover:bg-gray-400;
}

/* Hide reCAPTCHA badge */
.grecaptcha-badge {
    visibility: hidden;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }

  .animate-shimmer {
    animation: shimmer 2s infinite;
  }
}